
.demo{
  background-color: rgb(116, 116, 251);
}

.light{
  background-color: rgb(1, 1, 172);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 30px;
  background-color: rgb(80, 80, 118);
  color: white;
  text-align: center;
}
.div1{
  background-color: lightblue;
 
  border-radius: 8px;
  border: 1px solid gray;
  margin-top: -8px;
  display: flex;
}
.div2{
  background-color: lightblue;
  height: 230px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-top: 6px;
}
.div3{
  background-color: lightblue;
  height: 260px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-top: 6px;
}

.df{
  background-color: rgb(199, 198, 198);
}